@model OriginsQuestICO.ViewModels.HomeIndexViewModel

@{
    Layout = "~/Views/Shared/_LayoutSPA.cshtml";
}

<section id="welcome_cryptonic_06">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-animate="fadeInUp" data-delay=".1s">Welcome to Origins Quest</h2>
                    <h2 class=" wow fadeInUp" data-animate="fadeInUp" data-delay=".1s">Brought to you by: INFINITE GAMING CORP.</h2>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-10 col-lg-10 mx-auto">
                <div class="about_cryptonic-content">
                    <img src="/Content/images/welcome-6.png" alt="" class="wow ZoomInUp" data-animate="ZoomInUp" data-delay=".3s">
                    <p class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.3s">
                        MAIN OBJECTIVES: Players/Token holders now have the option/task to trade their different
                        types of fragments on crypto exchanges, in private for either financial gain through trading, in
                        order to acquire more fragments to further their game objectives in the search for the Infinity
                        Stones.
                        Function of fragments for in game use: Once players start their quest to seek the Infinity
                        Stones on the world wide web they will be handed their first debriefing package/information
                        sheet to start. During the quest, players will be pointed to objective which will require clues or
                        additional information to find the next objective, putting them closer to the ultimate goal,
                        finding the Infinity Stones. Each of these clues and informational pieces will be strategically
                        placed and or hidden all over the virtual universe(www) and once players find them, they will be
                        required to sacrifice or pay an small amount of their fragments to obtain the information or
                        clues to continue their objectives towards the quest.
                        The fragments will also serve as the ultimate sacrificial currency that will be used to pay the
                        guardian of the stone once a player finds the stone after completing all of his objectives.
                    </p>
                    <a href="#" class="btn btn-default btn-default-style wow fadeInUp" data-animate="fadeInUp" data-delay="0.4s">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <span class="shape1 header-shape"><img src="/Content/images/shape/home_6/wel-map.png" alt=""></span>
    <span class="bubble1 header-shape"><img src="/Content/images/particals_icon/fixed1.png" alt=""></span>
    <span class="bubble2 header-shape"><img src="/Content/images/particals_icon/fixed1.png" alt=""></span>
    <div id="particles2-js" class="particles"></div>
</section> <!-- End welcome_cryptonic -->

<section id="about_cryptonic_06">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                <div class="about_cryptonic-content">
                    <h2 class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.2s">What's in it for the player?</h2>
                    <p class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.3s">
                        Now that the user has completed all objectives throughout the
                        quests for the Infinity Stones, we will have a section on the website
                        where the user can now become a TITAN and claim his Ultimate
                        Prize. This will happen by sacrificing all 6 collected Infinity Stones
                        back to the company for the remaining 49 rounds to carry on. The Grand Prize for the TITAN:
                        The grand prize you ask? A mind blowing solid 18ct gold genuine
                        Infinity Gauntlet embedded with genuine natural diamonds in the
                        colours of the Infinity Stones worth a whopping $1 MILLION.!!!
                        The user will then be handed his prize personally by the company
                        directors & have his picture taken with his new Gauntlet and
                        entered into our Hall of TITANS on the website.
                    </p>

                    <p class=" wow fadeInUp" data-animate="fadeInUp" data-delay="0.4s"></p>
                    <a href="#" class="btn btn-default btn-default-style wow fadeInUp" data-animate="fadeInUp" data-delay="0.5s">Download Whitepaper</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-7">
                <div class="about-img">
                    <div class="img-wrapper">
                        <img src="/Content/images/index-about.png" alt="" class="wow fadeInUp" data-animate="fadeInUp" data-delay=".3s">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="shape1 header-shape"><img src="/Content/images/shape/home_6/about-light-1.png" alt=""></span>
    <span class="shape2 header-shape"><img src="/Content/images/shape/home_6/about-light-2.png" alt=""></span>
    <span class="bubble1 header-shape"><img src="/Content/images/particals_icon/fixed1.png" alt=""></span>
    <span class="bubble2 header-shape"><img src="/Content/images/particals_icon/fixed2.png" alt=""></span>
    <span class="bubble3 header-shape"><img src="/Content/images/particals_icon/fixed3.png" alt=""></span>
    <div id="particles3-js" class="particles"></div>
</section> <!-- End about_cryptonic -->

<section id="best_feature_06">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h6>How it Works</h6>
                    <h2>Game Play</h2>
                    @*<img src="/Content/images/gameplay.png">*@
                </div>
            </div>
        </div>
        <div class="row feature_items d-flex justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <h3>Low Cost Entertainment For Everyone</h3>
                    <img src="/Content/images/icons/feature-01.png" alt="">
                    <p>A fun, logical and exciting game build on a stable Crypto currency platform ensuring hours of entertainment, secured investment and profitable turnaround. Bonus:  All from the comfort of your home and mobile platforms.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <h3>Opportunities</h3>
                    <img src="/Content/images/icons/feature-02.png" alt="">
                    <p>Team up with fellow players by creating new teams. Trading, making deals and negotiating amongst players and teams plus much more.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                    <h3>Massive & Limited Edition Prizes</h3>
                    <img src="/Content/images/icons/feature-03.png" alt="">
                    <p>Limited edition prizes. Random FREE giveaways. Collectors Item merchandise during your journey with us. </p>
                </div>
            </div>
        </div>
    </div>
    <span class="shape1 header-shape"><img src="/Content/images/shape/home_6/feature-1.png" alt=""></span>
    <div id="particles4-js" class="particles"></div>
</section> <!-- End best_feature -->

<section id="token_sale_06">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h6 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Token</h6>
                    <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Token Sale</h2>
                </div>
            </div>
        </div>
        <div class="row pricing_items">
            <div class="col-sm-12 col-md-6 col-lg-3 single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                <div class="pricing_single">
                    <div class="offer_price">
                        <h4>Power Fragments<span class="hover_text"></span><span class="shape_1"></span></h4>
                    </div>
                    <div class="offer_details">
                        <span>15 Days</span>
                        <h3>21 January 2019</h3>
                        <p>Softcap $92M</p>
                    </div>
                    <div class="sale">
                        <a href="https://etherscan.io/token/0x59990ecb2741957ccdbadbe6e2f15bdd482afb55" title="">25% Bonus in the first 5 days</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                <div class="pricing_single">
                    <div class="offer_price">
                        <h4>Space Fragments<span class="hover_text"></span><span class="shape_1"></span></h4>
                    </div>
                    <div class="offer_details">
                        <span>15 Days</span>
                        <h3>05 February 2019</h3>
                        <p>Softcap $92M</p>
                    </div>
                    <div class="sale">
                        <a href="https://etherscan.io/token/0x6a01a8d2f7fc1e6c9c7e6729c6c0c058d252799c" title="">25% Bonus in the first 5 days</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                <div class="pricing_single">
                    <div class="offer_price">
                        <h4>Reality Fragments<span class="hover_text"></span><span class="shape_1"></span></h4>
                    </div>
                    <div class="offer_details">
                        <span>15 Days</span>
                        <h3>20 February 2019</h3>
                        <p>Softcap $92M</p>
                    </div>
                    <div class="sale">
                        <a href="" title="">25% Bonus in the first 5 days</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                <div class="pricing_single">
                    <div class="offer_price">
                        <h4>Soul Fragments<span class="hover_text"></span><span class="shape_1"></span></h4>
                    </div>
                    <div class="offer_details">
                        <span>15 Days</span>
                        <h3>07 March 2019</h3>
                        <p>Softcap $92M</p>
                    </div>
                    <div class="sale">
                        <a href="https://etherscan.io/token/0x15d1e6a6500994c992da8ceeb23f8aa61fff68a9" title="">25% Bonus in the first 5 days</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="row pricing_bottom">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="pricing_list_wrapper">
                    <ul class="list-unstyled item_list_1  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <li><h3>Pre-Sale starts</h3> <span>07-08-2018</span></li>
                        <li><h3>Pre-Sale End</h3> <span>07-08-2018</span></li>
                    </ul>
                    <ul class="list-unstyled item_list_2  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                        <li><h3>Pre-Sale Terms</h3> <span>First week 25% bonus and then 20% bonus</span></li>
                        <li><h3>Token Price</h3> <span>$0.40 USD</span></li>
                    </ul>
                    <ul class="list-unstyled item_list_3  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                        <li><h3>Total of Token</h3> <span>5,87,085,070</span></li>
                        <li><h3>Specifications</h3> <span>Ecology Token</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="shape1 header-shape"><img src="/Content/images/shape/home_6/token_sale.png" alt=""></span>
    <span class="shape2 header-shape"><img src="/Content/images/shape/home_6/token_sale_1.png" alt=""></span>
    <span class="bubble1 header-shape"><img src="/Content/images/particals_icon/fixed1.png" alt=""></span>
    <span class="bubble2 header-shape"><img src="/Content/images/particals_icon/fixed1.png" alt=""></span>
    <span class="bubble4 header-shape"><img src="/Content/images/particals_icon/fixed3.png" alt=""></span>
    <div id="particles5-js" class="particles"></div>
</section> <!-- End token_sale -->

<section id="token_distribution_06">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h6 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Token Details</h6>
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Token Distribution</h2>
                </div>
            </div>
        </div>
        <div class="row distribution_single_items">
            <div class="col-sm-12 col-md-6 col-lg-6 distribution_single_item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                <div class="distribution_single">
                    <div class="distribution_wrapper">
                        <div class="distribution_details">
                            <h3>Token</h3>
                            <div class="token_shape">
                                <span class="shape1 header-shape"><img src="/Content/images/shape/home_6/token_1.png" alt=""></span>
                                <span class="shape2 header-shape"><img src="/Content/images/shape/home_6/token_2.png" alt=""></span>
                                <span class="shape3 header-shape"><img src="/Content/images/shape/home_6/token_3.png" alt=""></span>
                                <span class="shape4 header-shape"><img src="/Content/images/shape/home_6/token_4.png" alt=""></span>
                                <span class="shape5 header-shape"><img src="/Content/images/shape/home_6/token_5.png" alt=""></span>
                            </div>
                        </div>
                        <ul class="details_content">
                            <li class="details details_1">
                                <p>ICO Token Sales</p>
                                <div class="details_caption">
                                    <span>40%</span>
                                </div>
                            </li>
                            <li class="details details_2">
                                <p>Sold Globaly</p>
                                <div class="details_caption">
                                    <span>10%</span>
                                </div>
                            </li>
                            <li class="details details_3">
                                <p>Reserve Fund</p>
                                <div class="details_caption">
                                    <span>20%</span>
                                </div>
                            </li>
                            <li class="details details_4">
                                <div class="details_caption">
                                    <span>10%</span>
                                </div>
                                <p>ICO Program</p>
                            </li>
                            <li class="details details_5">
                                <div class="details_caption">
                                    <span>5%</span>
                                </div>
                                <p>Pre sale Token</p>
                            </li>
                            <li class="details details_6">
                                <div class="details_caption">
                                    <span>15%</span>
                                </div>
                                <p>Team Advisor</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 distribution_single_item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                <div class="distribution_single">
                    <div class="distribution_wrapper">
                        <div class="distribution_details">
                            <h3>Sale</h3>
                            <div class="token_shape">
                                <span class="shape1 header-shape"><img src="/Content/images/shape/home_6/token_1.png" alt=""></span>
                                <span class="shape2 header-shape"><img src="/Content/images/shape/home_6/token_2.png" alt=""></span>
                                <span class="shape3 header-shape"><img src="/Content/images/shape/home_6/token_3.png" alt=""></span>
                                <span class="shape4 header-shape"><img src="/Content/images/shape/home_6/token_4.png" alt=""></span>
                                <span class="shape5 header-shape"><img src="/Content/images/shape/home_6/token_5.png" alt=""></span>
                            </div>
                        </div>
                        <ul class="details_content">
                            <li class="details details_1">
                                <p>Community</p>
                                <div class="details_caption">
                                    <span>40%</span>
                                </div>
                            </li>
                            <li class="details details_3">
                                <p>Reserve Fund</p>
                                <div class="details_caption">
                                    <span>20%</span>
                                </div>
                            </li>
                            <li class="details details_5">
                                <div class="details_caption">
                                    <span>5%</span>
                                </div>
                                <p>Team Advisor</p>
                            </li>
                            <li class="details details_6">
                                <div class="details_caption">
                                    <span>15%</span>
                                </div>
                                <p>Sold globaly</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles6-js" class="particles"></div>
</section> <!-- End token_distribution -->

<section id="roadmap_06">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Origins Quest Roadmap & Development Plan</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="location_04">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="location_wrapper">
                        <div class="roadmap_position"></div>
                        <div class="location location_top location_1  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <div class="map_date">
                                <h5>January, 2019</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Token-Sale</h3>
                                <p>Opening token sales for the six(6) different tokens to be used in game.</p>
                            </div>
                        </div>
                        <div class="location location_bttom location_2  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <div class="map_date">
                                <h5>July, 2018</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Research</h3>
                                <p>Established fact that a reader will<br> be looking at its layout.</p>
                            </div>
                        </div>
                        <div class="location location_top location_3  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                            <div class="map_date">
                                <h5>July, 2018</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Concept</h3>
                                <p>Established fact that a reader will<br> be looking at its layout.</p>
                            </div>
                        </div>
                        <div class="location location_bttom location_4  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                            <div class="map_date">
                                <h5>July, 2018</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Coinbit</h3>
                                <p>Established fact that a reader will<br> be looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="shape2 header-shape"><img src="/Content/images/shape/home_6/road_map_2.png" alt=""></span>
    <span class="shape3 header-shape"><img src="/Content/images/shape/home_6/road_map_3.png" alt=""></span>
    <div id="particles7-js" class="particles"></div>
</section> <!-- End roadmap -->

<section id="companis_supported_06" class="companis_supported_06">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="companis_supported_logos">
                    <div class="sub-title">
                        <h6 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Partners</h6>
                        <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Supported by</h2>
                    </div>
                    <ul class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                        <li><img src="/Content/images/logos/partner6-1.png" alt=""></li>
                        <li><img src="/Content/images/logos/partner6-2.png" alt=""></li>
                        <li><img src="/Content/images/logos/partner6-3.png" alt=""></li>
                        <li><img src="/Content/images/logos/partner6-4.png" alt=""></li>
                        <li><img src="/Content/images/logos/partner6-5.png" alt=""></li>
                        <li><img src="/Content/images/logos/partner6-6.png" alt=""></li>
                        <li><img src="/Content/images/logos/partner6-7.png" alt=""></li>
                        <li><img src="/Content/images/logos/partner6-8.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="particles8-js" class="particles"></div>
    <span class="bubble1 header-shape"><img src="/Content/images/particals_icon/fixed1.png" alt=""></span>
    <span class="bubble2 header-shape"><img src="/Content/images/particals_icon/fixed2.png" alt=""></span>
</section><!-- End companis_supported -->

<section id="team_membar_06" class="team_membar_05">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Infinite Gaming Corp. Team</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Meet our highly competent team members driving the project.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="team_01" class="owlCarousel">
                    <div class="single-wrapper ">
                        <div class="team-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <img src="/Content/images/team/team-01.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Jacques Du Toit</h4>
                                        <span>Chief Executive Officer</span>
                                    </div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <figure>
                                <div class="member-img">
                                    <img src="/Content/images/team/team-02.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Marius Meyer</h4>
                                        <span>Senior Developer</span>
                                    </div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="single-wrapper membar_item_top">
                        <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <img src="/Content/images/team/team-03.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Zander Cliengen </h4>
                                        <span>Chief Operations Officer</span>
                                    </div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <figure>
                                <div class="member-img">
                                    <img src="/Content/images/team/team-04.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Jaco Venter</h4>
                                        <span>Data Base Administrator</span>
                                    </div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="single-wrapper">
                        <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <img src="/Content/images/team/team-05.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Jay-Dee Gouws</h4>
                                        <span>Lead Developer</span>
                                    </div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <figure>
                                <div class="member-img">
                                    <img src="/Content/images/team/team-06.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Nicolene De Villiers</h4>
                                        <span>Choreographer</span>
                                    </div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="single-wrapper membar_item_top">
                        <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <img src="/Content/images/team/team-07.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Pamela Woest</h4>
                                        <span>Senior Graphic Designer</span>
                                    </div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <figure>
                                <div class="member-img">
                                    <img src="/Content/images/team/team-08.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>T.B.A.</h4>
                                        <span>Legal Advisor</span>
                                    </div>
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <span class="shape1 header-shape"><img src="/Content/images/shape/home_6/team-01.png" alt=""></span>
    <span class="shape2 header-shape"><img src="/Content/images/shape/home_6/team-02.png" alt=""></span>
    <span class="bubble1 header-shape"><img src="/Content/images/particals_icon/fixed1.png" alt=""></span>
    <span class="bubble2 header-shape"><img src="/Content/images/particals_icon/fixed1.png" alt=""></span>
    <span class="bubble4 header-shape"><img src="/Content/images/particals_icon/fixed3.png" alt=""></span>
    <div id="particles9-js" class="particles"></div>
</section><!-- End team_membar -->

<section id="faq-area-06" class="faq-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Frequently Asked Questions</h2>
                    <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="faq-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <img src="/Content/images/fap-01.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="faq-wrapper">
                    <!--Accordion wrapper-->
                    <div class="panel-group accordion-wrapper" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel accordion-single accordion-01  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What cryptocurrencies can I use to purchase?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-02  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <div class="panel-heading active" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How do I benefit from the ICO Token?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse  in show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-03  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        To Keep Makeup Looking Fresh Take A Powder
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-03  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                            <div class="panel-heading" role="tab" id="headingfour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        What Curling Irons Are The Best Ones
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis and comparison of neurons in which will be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles10-js" class="particles"></div>
</section><!-- End faq-area -->

<section id="contact_06">
    @Html.Partial("~/Views/Shared/Site/_ContactUs.cshtml", Model.ContactForm)
    <div id="particles11-js" class="particles"></div>
</section><!-- End contact -->

<div id="subscribe_area_06">
    @Html.Partial("~/Views/Shared/Site/_Subscribe.cshtml", Model.Subscribe)
    <div id="particles12-js" class="particles"></div>
</div><!-- End subscribe_area -->

@section Scripts
{
    <script src="~/Scripts/Views/Home/HomeIndex.js"></script>
}